{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ЖКХ</title>
    {% block header %}
    {% endblock %}
    {% block css %}
    {% bootstrap_css %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><img src="{{ STATIC_URL }}images/energy.png"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'clients-list' %}">Список клиентов</a>
        </li>
          {% block navlist %}
          {% endblock %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Клиентам
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'services-list' %}">Услуги</a></li>
            <li><a class="dropdown-item" href="#">Акции</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Полезное
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'tariffs-list' %}">Тарифы</a></li>
            <li><a class="dropdown-item" href="{% url 'invoices-list' %}">Квитанции</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'meters-list' %}">Счетчики</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Управление ЖКУ
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'payments-list' %}">Платежи</a></li>
            <li><a class="dropdown-item" href="{% url 'debt' pk=1 %}">Задолженности</a></li>
            <li><a class="dropdown-item" href="#">Жалобы</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Показатели счетчиков</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Отключенная</a>
        </li>
      </ul>
    </div>
    </nav>
    {% endblock %}
    <div class="container text-center">
        {% block content %}
        {% endblock %}
    </div>
</body>
    {% block js %}
    {% bootstrap_javascript %}
    {% endblock %}
</html>