{% extends "main.html" %}

{% block content %}
    {{ block.super }}
    <div class="container mt-3">
        <h3>Клиенты</h3>
        <table class="table">
            <tr>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Адрес</th>
            </tr>
            {% for client in clients %}
            <tr>
                <td>{{ client.last_name }} {{ client.first_name }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.address }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}