{% extends "main.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
    {{ block.super }}

    {% for msg in messages %}
        {{ msg }}
    {% endfor %}

    <form method="post">{% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-primary" type="submit" value="Save">
    </form>

{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'JQuery/jquery-3.7.1.min.js' %}"></script>

{{ form.media }}

{% endblock %}


