{% extends "main.html" %}
{% load django_bootstrap5 %}

{% block content %}
    {{ block.super }}
    
    <div class="container mt-3">
        <h3 class="mb-4">Показания счетчиков</h3>
        <table class="table table-md">
            <thead>
                <tr>
                    <th>Счетчики</th>
                    <th>Дата</th>
                    <th>Показания</th>
                </tr>
            </thead>
            <tbody>
                {% for reading in meter_readings %}
                <tr>
                    <td>{{ reading.meter }}</td>
                    <td>{{ reading.reading_date|date:"d.m.Y" }}</td>
                    <td>{{ reading.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}