{% extends "main.html" %}

{% block navbar %}
{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="container mt-3">
        <h3><i class="bi bi-speedometer2"></i>Счётчики</h3>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Клиент</th>
                    <th>Услуга</th>
                    <th>Номер счетчика</th>
                    <th>Дата установки</th>
                </tr>
            </thead>
            <tbody>
                {% for meter in meters %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ meter.client.last_name }} {{ meter.client.first_name }}</td>
                    <td>{{ meter.service.name }}</td>
                    <td><strong>{{ meter.meter_number }}</strong></td>
                    <td>{{ meter.installation_date|date:"d.m.Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
    <span class="step-links">
        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                &laquo;
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                Назад
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <span class="page-link">
                            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                        </span>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                Вперед
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                &raquo;
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </span>
    </div>
{% endblock %}