{% extends "main.html" %}

{% block navbar %}
{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="container mt-3">
        <h3 class="mb-3">Платежи</h3>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Квитанция</th>
                    <th>Дата</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                <tr>
                    <td>№{{ payment.invoice.id }}</td>
                    <td>{{ payment.date_paid|date:"d.m.Y" }}</td>
                    <td>{{ payment.amount }} ₽</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
    <span class="step-links">
        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                &laquo;
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                Назад
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <span class="page-link">
                            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                        </span>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                Вперед
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                &raquo;
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </span>
    </div>
{% endblock %}